
      <tr>
        <td align="center" valign="top">
            <!-- BEGIN BODY // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainerMiddle">
              <tr>
                <td valign="top" class="bodyContent" mc:edit="body_content">
                  <h2><strong>Su empresa <%= @user.company_name.to_s %> ha sido validada</strong></h2>
                  <h3>Hola: <%= @user.name.to_s %></h3>

                  <p>Su empresa ha sido validada satisfactoriamente. Desde este momento su empresa, sus catálogos y sus productos ya son visibles en CatalogIndustry. </p>



                  <p>Acceda a su área privada, desde donde podrá:</p>

                  <ul>
                    <li>
                      Añadir catálogos, productos, noticias, modificarlos, darlos de baja y gestionarlos
                    </li>
                    <li>
                      Acceder a estadísticas detalladas de su empresa y de sus catálogos
                    </li>
                    <li>
                      Gestionar sus datos de empresa
                    </li>
                    <li>
                      Crear su propia biblioteca con sus catálogos favoritos.
                    </li>

                  </ul>


                  <p>
                      Si tiene alguna pregunta o sugerencia, no dude en ponerse en contacto con nosotros en support@catalogindustry.com
                  </p>

                  <p>
                      Muchas gracias por su confianza
                  </p>

                </td>
              </tr>
            </table>
            <!-- // END BODY -->
          </td>
      </tr>

