<div class="subheader">
  <div class="container">
    <h2 class="title_L">Equipos Neumáticos e Hidráulicos</h2>
  </div>
</div><!-- .subheader -->

<main id="main">
  <div class="container">

    <div class="alert">
      <p><span class="icon_check"></span> Guardar búsqueda. Te enviamos actualizaciones al mail</p>
    </div><!-- .alert -->

    <section class="products products-catalogs">

      <h2 class="title_L">Catálogos</h2>

      <div class="filters">
        <span class="filters_label">Ordenar:</span>
        <div class="filters_group">
          <a class="button active" href="#">Novedades</a>
          <a class="button" href="#">A-Z</a>
        </div>
      </div><!-- .filters -->

      <div class="products_grid">

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-5.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-5.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">NCS para Arquitectos y Diseñadores</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-6.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-6.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Explicación y usos prácticos del Sistema NCS, Norma Española del Color</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-7.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-7.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Novapint D - Water-based colorants for Façade paints</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-8.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-8.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Colorímetro Colourpin NCS de Idecolor</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-5.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-5.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">NCS para Arquitectos y Diseñadores</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-6.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-6.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Explicación y usos prácticos del Sistema NCS, Norma Española del Color</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-7.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-7.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Novapint D - Water-based colorants for Façade paints</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-8.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-8.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Colorímetro Colourpin NCS de Idecolor</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-5.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-5.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">NCS para Arquitectos y Diseñadores</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-6.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-6.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Explicación y usos prácticos del Sistema NCS, Norma Española del Color</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-7.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-7.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Novapint D - Water-based colorants for Façade paints</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-8.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-8.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Colorímetro Colourpin NCS de Idecolor</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-7.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-7.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Novapint D - Water-based colorants for Façade paints</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-8.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-8.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Colorímetro Colourpin NCS de Idecolor</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-5.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-5.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">NCS para Arquitectos y Diseñadores</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

        <div class="products_item product">
          <figure class="product_media">
            <a href="#"><img src="images/content/product-6.jpg" alt=""></a>
            <!-- <span><img src="images/content/product-6.jpg" alt=""></span> -->
          </figure>
          <div class="product_info">
            <h4 class="product_name"><a href="#">Explicación y usos prácticos del Sistema NCS, Norma Española del Color</a></h4>
            <p class="product_company"><a href="#">IdeColor</a></p>
            <p class="product_description">Colorímetro / Color / Colourpin / ncs idecolor...</p>
          </div>
        </div><!-- .products_item product -->

      </div><!-- .products_grid -->

      <div class="pagination">
        <a class="pagination_more" href="#">Ver más</a>
      </div>

    </section><!-- .products products-catalogs -->

  </div><!-- .container -->
</main>
