    <h2 class="title_L"><%=t('static.about_us')%></h2>

    <p>CatalogIndustry is a specialized online library of industrial catalogs, technical documents and prices from top manufacturers in the main industrial sectors.</p>

<p>Our library of industrial catalogs has been designed to be innovative, intuitive and easy to use, with the aim of becoming a benchmark tool for professionals in the industry. Furthermore, manufacturers and distributors can offer their products in various languages, helping them find new clients and promote their products around the world.</p>


