    <h2 class="title_L"><%=t('static.faq')%></h2>

    <h4>What is CatalogIndustry?</h4>

    <p>CatalogIndustry is a multilingual library of industrial catalogs, technical documents, brochures and prices from around the world.</p>

    <h4>Why should I join CatalogIndustry?</h4>

    <p>Joining CatalogIndustry only has advantages. Plus, it´s free. When you join CatalogIndustry, you´ll have access to a private area where you can save all the catalogs you want to see again. Plus, additional functions will be activated like downloading any document to your mobile device or participating in the comments section.</p>

    <h4>How can I add a catalog to CatalogIndustry?</h4>
    <p>ONLY registered companies can add catalogs. After you fill in the company registration information, the CatalogIndustry team will review and validate it.</p>

<h4>I represent a company that sells industrial products. Why should I register my company?</h4>
<p>Registering your company with CatalogIndustry is free of charge. You´ll have access to a private area in addition to all user functions to manage your company´s catalogs.</p>

<h4>Can I deactivate my registration with CatalogIndustry?</h4>
<p>In the your information tab of your private area you can deactivate your registration at any time.</p>

<h4>I´ve already registered my company. How can I highlight my catalogs to make them more visible?</h4>
<p>You can highlight your catalogs in the my documents tab of your private area or on any highlighted bookshelf, either on the homepage or in an individual category.</p>

<h4>Can I put the catalog on my website?</h4>
<p>Of course, an embed code is generated for each catalog published on CatalogIndustry. Just click on the Get embed code icon and a pop-up window will open with the code. Embed it in your website and your clients will be able to see your catalog with our HTML5 viewer.</p>

<h4>Where can I see the price list?</h4>
<p>CatalogIndustry is a free service for both users and companies that publish their catalogs. Companies only pay to highlight their catalogs above the rest.</p>

<h4>How can I find catalogs I´m interested in?</h4>
<p>There are many options to find a catalog on CatalogIndustry. Using keywords in the search engine, drop-down category menus or even in the directory of companies. All of these options have filters to narrow down your search.</p>
