    <h2 class="title_L">LEGAL NOTICE</h2>


		<p style="text-align: justify;">



		<b>Aims of the Website</b><br><br>

		The service provider, responsible for the website, makes this document available to fulfil its obligation as required by Spanish law 34/2002 of 11th July on Information
		Society Services and Electronic Commerce. This document also aims to notify all users of the website´s terms and conditions of use.<br><br>

		<b>About  www.catalogindustry.com </b><br><br>
		Under the domain name catalogindustry.com, one of the services offered by the following company is made available: <br><br>

		Company Name: 	VIRTUAL CATALOG SOLUTIONS, S.L.<br>
		Address: 		Escola Pia 100<br>
		Town:		Sabadell<br>
		Postcode: 		08201<br>
		Region: 		Barcelona<br>
		Country:		Spain<br>
		Email: 		info@catalogindustry.com<br><br>

		Spanish Tax Reference: B-65670887<br><br>

		<b>Content and Use</b><br><br>
		www.catalogindustry.com is a website that allows you to access an international library of industrial catalogs. It also allows registered users to access and download
		registered advertisers´ product catalogs if such companies have created a profile and have the required subscription plan. <br><br>

		Users of the website imply their full and unreserved acceptance and understanding of these general terms and conditions of use. The user agrees not to use the website
		nor any of the associated services for unlawful activity. The user also agrees to respect the general terms and conditions of use. The service provider may block access
		to the website at any time if it detects unlawful or malicious activity or any activity which breaches the general terms and conditions of use.<br><br>

		The company reserves the right to modify the website as and when it deems it appropriate without giving any prior notice. It may change, remove or add content and services
		as well as the manner in which they are presented or their respective location or positioning on the website.<br><br>

		<b>Intellectual and Industrial Property</b><br><br>
		The website, including and without limitation, its programming, editing, compilation and other elements and features necessary for its operation as well as designs, logos,
		text and/or graphics are the property of VIRTUAL CATALOG SOLUTIONS, S.L. or, if applicable, licensed for use by the aforementioned company or permitted by the authors.
		All website content is appropriately protected by intellectual and industrial property regulation and duly recorded in the corresponding public registers. <br><br>

		Complete or partial reproduction, use, exploitation, distribution and commercialization requires prior written authorization of the provider in all cases. Any use not
		previously authorized by VIRTUAL CATALOG SOLUTIONS, S. L. will be considered a serious breach of the intellectual and industrial property rights of the author.<br><br>

		Designs, logos, text and/or graphics that may appear on the website which do not belong to the provider are the property of their respective owners, who are not themselves
		responsible for any possible disputes that may arise in relation to them.<br><br>

		VIRTUAL CATALOG SOLUTIONS, S. L. recognizes the corresponding industrial and intellectual property rights of the owners. The mention or appearance of such content on the
		 website does not imply any rights or liability for the provider nor does it imply endorsement, sponsorship or recommendation by the provider.<br><br>

		<b>Use of Cookies</b><br><br>
		The provider´s website may use cookies (small information files that the server sends to the computer of the visitor to the site in order to record user activity while
		browsing) to perform certain functions considered essential to ensure the website functions and displays content correctly.   Cookies used on the website are temporary
		files with the sole purpose of making any subsequent visits to the site more efficient. Such cookies will be deleted when the user terminates their session.
		Under no circumstances will any cookies be used to collect person information. Users may be afforded the opportunity to configure their browser settings so that they are
		notified when a cookie is received and can prevent it being downloaded to their computer.  Please refer to your browser´s instructions and user manual for further information.<br><br>

		The use of cookies allows the website to identify the browser being used by visitors in order to make navigation easier thereby allowing, for example, existing registered users
		to access areas, services, offers or competitions exclusively available to them without having to register each time the site is visited. Cookies are also used to measure
		and control the number of visitors and traffic to the site.<br><br>

		<b>Liability</b><br><br>
		The company disclaims any liability for the information contained on the website if this information has been edited or added by an external third-party.  In accordance
		with articles 11 and 16 of Spanish law 34/2002 on Information Society Services and Electronic Commerce, VIRTUAL CALALOG SOLUTIONS, S.L. is responsible for the removal
		or blocking of content that is unlawful, violates the rights of others or morality and public order as requested by users or the relevant public authorities.<br><br>

		This website has been reviewed and tested to ensure it functions correctly. In principle, its correct operating and functioning can be guaranteed 365 days a year, 24 hours a
		day. Nonetheless, the service provider is cognizant to the fact that certain programming errors may exist or that events beyond their control such as natural disasters,
		strikes or similar incidents may prevent access to the website.  In the event of such disruption to the website, the service provider agrees to ensure that the website
		will be functioning correctly as soon as possible.<br><br>

		<b>Applicable Legislation</b><br><br>
		For the resolution of all disputes or matters relating to the website or the activities carried out on the site, Spanish legislation will apply and any actions by all parties
		will be governed by Spanish legislation. The Upper and Lower Courts of Barcelona, Spain will have jurisdiction for resolving any conflicts relating to the website´s use.</p>
