    <h2 class="title_L">Privacy policy</h2>

<p style="text-align: justify;"><b>PRIVACY POLICY</b><br><br>
		
	At www.catalogindustry.com we ensure that any personal information relating to our users and customers is fully protected.<br><br>

	VIRTUAL CATALOG SOLUTIONS, S. L. ensures that all data relating to advertising companies and users remains confidential at all times in accordance with Spanish Organic Law 15/1999, 
	of 13th December relating to the protection of personal information.<br><br>

	VIRTUAL CATALOG SOLUTIONS, S. L. has implemented all the security measures as required in the Spanish Royal Decree 1720/2007, of 21 December, which approves the regulation 
	implementing Spanish Organic Law 15/1999, of 13th December relating to the protection of personal information.<br><br>
		
	<b>TRANSMISSION AND RECORDING OF PERSONAL INFORMATION</b><br><br>
	
	The transmission of personal information is essential in order to be able to connect to, as well as receive information from, the services provided by VIRTUAL CATALOG SOLUTIONS, S.L.<br><br>

	Should an advertiser or a user of the site not provide the requested personal information or should they not agree to the data protection policy, it would not be possible for them to 
	register, sign-in or indeed use any of the services.<br><br>
		
	<b>ACCURACY AND TRUTHFULLNESS OF PROVIDED DATA</b><br><br>
	Advertisers and users who provide information to VIRTUAL CATALOG SOLUTIONS, S. L. are solely responsible for the accuracy of the provided data, releasing VIRTUAL CATALOG SOLUTIONS, 
	S. L. of any responsibility.<br><br>
 
	Users and advertisers guarantee and are responsible in all cases for the adequacy, accuracy, validity and authenticity of the personal information provided. They also remain 
	responsible for ensuring such information is kept up-to-date.<br><br>

	Advertisers and users agree to provide complete and correct information in the respective registration forms.<br><br>
	
	VIRTUAL CATALOG SOLUTIONS, S. L. is not responsible for the accuracy of any information that it did not create nor for which it quotes another source. Therefore, the company does not 
	accept any responsibility for any hypothetical damage that could be caused by the use of this information.<br><br>
	
	VIRTUAL CATALOG SOLUTIONS, S. L is exempt from any responsibility for any damage that the user or advertisers may suffer as a result of any errors, faults or omissions in the 
	information provided if it originates from sources outside of VIRTUAL CATALOG SOLUTIONS, S. L.<br><br>
			
	<b>RELEASE OF INFORMATION TO THIRD-PARTIES</b><br><br>
	VIRTUAL CATALOG SOLUTIONS, S. L. will not release any personal information to third-parties. However, in such case that personal information is to be released to a third-party, 
	a request for consent would be made to the affected party as required under Spanish data protection legislation (Article 6 of Ley Orgánica de Protección de Datos).<br><br>
		
	<b>RIGHT TO ACCESS, AMEND, REMOVE AND DISPUTE</b><br><br>
		
	Advertising companies and users can exercise their rights to access, amend, remove and dispute any personal informed held by placing their request in writing to the registered 
	office of VIRTUAL CATALOG SOLUTIONS, S. L.:<br><br>
	
	
	VIRTUAL CATALOG SOLUTIONS, S. L.<br>
	C/Escola Pia, 100<br>
	08201 Sabadell<br>
	Barcelona<br>
	SPAIN<br><br>
	
	This request can also be made by emailing info@catalogindustry.com. Proof of identification is required together with a photocopy of your national identity card.<br><br>
	
	<b>AGREEMENT AND CONSENT</b><br><br>
	Advertising companies and users confirm that they are aware of the conditions relating to the protection of personal data, agreeing and consenting to the processing of such data 
	by VIRTUAL CATALOG SOLUTIONS, S. L. in such way and for the purposes as highlighted in this policy relating to the protection of personal data.<br><br>
		
	<b>Users</b><br><br>
	In accordance with Spanish Organic Law 15/1999 dated 13th December and specifically Article 6 of the aforementioned legislation relating to the protection of personal information, 
	through submitting personal information through the online registration form, users of www.catalogindustry.com give their full consent to VIRTUAL CATALOG SOLUTIONS, S.L., to 
	record and retain any personal information in an electronic file registered with the Spanish authority responsible for governing the use and retention of personal information 
	(Registro de la Agencia Española de Protección de Datos). So long as they are protected accordingly, Users agree for these details to be passed to other national or international 
	persons, entities and companies promoting their catalogs and who have previously registered in www.catalogindustry.com who are in a direct relationship with VIRTUAL CATALOG SOLUTIONS 
	S.L and with the possibility that they can contact the user directly.<br><br>
	
	Users are hereby notified of their right to access, amend, remove or dispute how we handle your personal information. You can do so in writing. Please ensure you include a photocopy 
	of your national identity card. Our head office address is:<br><br>
	
	VIRTUAL CATALOG SOLUTIONS, S. L. <br>
	C/ Escola Pia, 100<br>
	08201 <br>
	Sabadell <br>
	Barcelona<br>
	SPAIN<br><br>
	
	You can also make this request by emailing info@catalogindustry.com.<br><br>
	
	<b>Advertising Companies</b><br><br>
		
	In accordance with Spanish Organic Law 15/1999 dated 13th December relating to the protection of personal information, VIRTUAL CATALOG SOLUTIONS, S. L. hereby gives notice to 
	advertising companies that, through the submission of personal information via the online registration form at www.catalogindustry.com  or by means of the exchange of emails, consent 
	is given for your personal information to be recorded and retained in an electronic file in the name of  VIRTUAL CATALOG SOLUTIONS, S.L registered with the Spanish authority 
	responsible for governing the use and retention of personal information (Registro de la Agencia Española de Protección de Datos). The aim of this is to manage those advertising 
	companies who promote their product catalogs on the website, www.catalogindusty.com.<br><br>
	
	On no occasion will such data be passed to, sold or transferred to third-parties without your prior consent.<br><br>
	
	Advertising companies are able to exercise their right to access, amend, remove or dispute how their personal information is handled under the provisions of Organic Law 15/1999 
	governing the protection of personal information by putting their request in writing to the registered office of VIRTUAL CATALOG SOLUTIONS, S. L, the address of which can be found 
	below:<br><br>
	
	VIRTUAL CATALOG SOLUTIONS, S. L<br>
	C/ Escola Pia, 100 <br>
	08201 Sabadell <br>
	Barcelona<br>
	SPAIN<br><br>
	
	This request can also be made by emailing info@catalogindustry.com.<br><br>
		
	<b>CHANGES TO THIS PRIVACY POLICY</b><br><br>
		
	VIRTUAL CATALOG SOLUTIONS, S. L. reserves the right to modify this policy to comply with any new legislative requirements or case law rulings as well as industry practices.<br><br>
	
	In such cases, VIRTUAL CATALOG SOLUTIONS, S. L. will place notification of such changes on this page with reasonable notice before such changes come into effect.

  </p>