    <h2 class="title_L"><%=t('static.about_us')%></h2>

    <p>CatalogIndustry es una biblioteca online especializada en catálogos industriales, documentación técnica y tarifas de las empresas más relevantes de los principales sectores industriales.</p>

<p>La biblioteca de catálogos industriales ha sido diseñada para ser innovadora, intuitiva y fácil de usar, con la intención de convertirse en una herramienta de referencia para los profesionales de la industria. Además de ello, fabricantes y distribuidores podrán ofrecer sus productos en varios idiomas, ayudándolos a encontrar nuevos clientes y promocionar sus productos por todo el mundo.</p>


