    <h2 class="title_L"><%=t('static.faq')%></h2>

    <h4>¿Qué es CatalogIndustry?</h4>

    <p>CatalogIndustry es una biblioteca de catálogos industriales, documentación técnica, folletos y tarifas de precio de todo el mundo multiidioma.</p>
    <h4>¿Por qué registrarse en CatalogIndustry?</h4>

    <p>Registrarse en CatalogIndustry solo tiene ventajas y además es gratuito. Al registrarte en CatalogIndustry, tendrás acceso a una área privada donde podrás guardarte todos los catálogos que quieras volver a visitar. Además, también se activarán otras funcionalidades como descargarte a tu dispositivo cualquier documento o participar en los comentarios.</p>

    <h4>¿Cómo añado un catálogo a CatalogIndustry?</h4>
    <p>SOLO pueden añadir catálogos las empresas registradas. Al rellenar los datos de registro de empresa, el equipo de CatalogIndustry revisará todos los datos y la validará.</p>

<h4>Soy el representante de una empresa que ofrece productos industriales, ¿Por qué debería registrar mi empresa?</h4>
<p>Registrar su empresa en CatalogIndustry es gratuito. Tendrá acceso a un área privada donde además de todas las funcionalidades de un usuario podrá gestionar los catálogos de su empresa.</p>

<h4>¿Cómo puedo darme de baja de CatalogIndustry?</h4>
<p>En la pestaña “sus datos” de su área privada puede darse de baja en cualquier momento.</p>

<h4>He registrado mi empresa, ¿Cómo puedo destacar mis catálogos para que tengan más visibilidad?</h4>
<p>Puede destacar sus catálogos en la pestaña “mis documentos” de su área privada o en cualquier estantería de destacados, ya sea de la Home o de cada categoría.</p>

<h4>¿Puedo ver el catálogo desde mi página web?</h4>
<p>Por supuesto, se ha generado un código Embed para cada catálogo publicado en CatalogIndustry. Pulsando el icono “Obtener código de incrustación” del visualizador, aparecerá un pop-up con el código. Incrústalo en tu web y tus clientes podrán visualizar el catálogo con nuestro visualizador HTML5.</p>

<h4>¿Dónde puedo ver las tarifas?</h4>
<p>CatalogIndustry es un servicio gratuito tanto para los usuarios como para las empresas que publiquen sus catálogos. Solo pagan las empresas por cada catálogo que quieran destacar por encima del resto.</p>

<h4>¿Cómo encuentro los catálogos que me interesan?</h4>
<p>Hay múltiples opciones para encontrar un catálogo en catalogIndustry. Con el buscador de palabras clave, los menús desplegables de categorías o incluso en el directorio de empresas. Todos ellos contienen filtros para acotar la búsqueda.</p>
