    <h2 class="title_L">AVISO LEGAL</h2>

		<p style="text-align: justify;">

		<b>Objeto de la web</b><br><br>

		El prestador, responsable del sitio web, pone a disposición de los usuarios el
		presente documento con el que pretende dar cumplimiento a las obligaciones
		dispuestas en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
		Información y de Comercio Electrónico, así como informar a todos los usuarios
		respecto a cuáles son las condiciones de uso del sitio web.<br><br>

		<b>Sobre www.catalogindustry.com</b><br><br>

		Razón social: VIRTUAL CATALOG SOLUTIONS, S.L.<br>
		C.I.F.: B-65670887<br>
		Datos Registrales: Inscrita en el Registro Mercantil de Barcelona Tomo:42899 Folio:174 Hoja:417981 Inscripción: 1 Fecha de Inscripción:16 de diciembre de 2011<br>
		Domicilio: Escola Pia 100<br>
		Localidad: Sabadell<br>
		Código Postal: 08201<br>
		Provincia: Barcelona<br>
		Correo electrónico: info@catalogindustry.com<br><br>

		<b>Contenido y uso</b><br><br>

		www.catalogindustry.com es un sitio web que permite el acceso a una
		biblioteca mundial de catálogos industriales y que posibilita al usuario
		registrado acceder a la descarga de los catálogos de productos de las
		empresas anunciantes previamente registradas, que hayan creado su
		correspondiente perfil y publicitar a éstas, previa contratación del
		correspondiente plan de suscripción, sus catálogos de productos industriales.
		El acceso al sitio web implica sin reservas la aceptación de las presentes
		condiciones generales de uso que el usuario afirma comprender en su
		totalidad. El usuario se compromete a no utilizar el sitio web y los servicios que
		se ofrecen en el mismo para la realización de actividades contrarias a la ley y a
		respetar en todo momento las presentes condiciones generales. El prestador
		podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un
		uso contrario a la legalidad, la buena fe o a las presentes condiciones
		generales.<br><br>

		La empresa se reserva el derecho de efectuar sin previo aviso las
		modificaciones que considere oportunas en su Web, pudiendo cambiar,
		suprimir o añadir tanto los contenidos y servicios que se presten a través de la
		misma como la forma en la que éstos aparezcan presentados o localizados en
		el sitio web.<br><br>

		<b>Propiedad intelectual e industrial</b><br><br>

		El sitio web, incluyendo a título enunciativo pero no limitativo su programación,
		edición, compilación y demás elementos necesarios para su funcionamiento,
		los diseños, logotipos, texto y/o gráficos son propiedad de VIRTUAL CATALOG
		SOLUTIONS, S.L. o en su caso dispone de licencia o autorización expresa por
		parte de los autores. Todos los contenidos del sitio web se encuentran
		debidamente protegidos por la normativa de propiedad intelectual e industrial,
		así como inscritos en los registros públicos correspondientes.
		La reproducción total o parcial, uso, explotación, distribución y
		comercialización, requiere en todo caso de la autorización escrita previa por
		parte del prestador. Cualquier uso no autorizado previamente por parte de
		VIRTUAL CATALOG SOLUTIONS, S.L. será considerado un incumplimiento
		grave de los derechos de propiedad intelectual o industrial del autor.
		Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran
		aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo
		ellos mismos responsables de cualquier posible controversia que pudiera
		suscitarse respecto a los mismos.
		VIRTUAL CATALOG SOLUTIONS, S.L. reconoce a favor de sus titulares los
		correspondientes derechos de propiedad industrial e intelectual, no implicando
		su sola mención o aparición en el sitio web la existencia de derechos o
		responsabilidad alguna del prestador sobre los mismos, como tampoco
		respaldo, patrocinio o recomendación por parte del mismo.<br><br>

		<b>Uso de cookies</b><br><br>

		El sitio web del prestador puede utilizar cookies (pequeños archivos de
		información que el servidor envía al ordenador de quien accede a la página con
		la finalidad de registrar las actividades del usuario durante su tiempo de
		navegación) para llevar a cabo determinadas funciones que son consideradas
		imprescindibles para el correcto funcionamiento y visualización del sitio. Las
		cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal con la
		única finalidad de hacer más eficaz su transmisión ulterior y desaparecen al
		terminar la sesión del usuario. En ningún caso se utilizarán las cookies para
		recoger información de carácter personal. El usuario tiene la posibilidad de
		configurar su navegador para ser avisado de la recepción de cookies y para
		impedir su instalación en su equipo. Para ellos se ruega consultar las instrucciones
		y manuales de su navegador para ampliar esta información.
		Mediante el uso de las cookies resulta posible que el servidor donde se
		encuentra la web, reconozca el navegador web utilizado por el usuario con la
		finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el
		acceso a los usuarios que se hayan registrado previamente, acceder a las
		áreas, servicios, promociones o concursos reservados exclusivamente a ellos
		sin tener que registrarse en cada visita. Se utilizan también para medir la
		audiencia y parámetros del tráfico, controlar el progreso y número de entradas.<br><br>

		<b>Responsabilidad</b><br><br>

		La empresa se exime de cualquier tipo de responsabilidad derivada de la
		información publicada en su sitio web, siempre que esta información haya sido
		manipulada o introducida por un tercero ajeno al mismo.
		De acuerdo con los artículos 11 y 16 de Ley 34/2002, de 11 de julio, de Servicios de la
		Sociedad de la Información y de Comercio Electrónico, VIRTUAL CATALOG
		SOLUTIONS, S.L. se pone a disposición de los usuarios, autoridades
		competentes y fuerzas y cuerpos de seguridad para retirar o bloquear los
		contenidos que vulneren la legislación, los derechos de terceros o la moral y el
		orden público.<br><br>

		Este sitio web ha sido revisado y probado para que funcione correctamente. En
		principio, puede garantizarse el correcto funcionamiento los 365 días del año,
		24 horas al día. No obstante, el prestador no descarta la posibilidad de que
		existan ciertos errores de programación, o que acontezcan causas de fuerza
		mayor, catástrofes naturales, huelgas, o circunstancias semejantes que hagan
		imposible el acceso a la página web. En caso de interrupción del
		funcionamiento del sitio web, el prestador se compromete a devolverlo a un
		buen estado de funcionamiento a la mayor brevedad posible.<br><br>

		<b>Legislación aplicable</b><br><br>

		Para la resolución de todas las controversias o cuestiones relacionadas con el
		presente sitio web o de las actividades en él desarrolladas, será de aplicación
		la legislación española, a la que se someten expresamente las partes, siendo
		competentes para la resolución de todos los conflictos relacionados con su uso
		los Juzgados y Tribunales de Barcelona.
