    <h2 class="title_L">POLÍTICA DE PRIVACIDAD</h2>

  <p style="text-align: justify;"><b>POLÍTICA DE PRIVACIDAD</b><br><br>

		En www.catalogindustry.com aseguramos la total protección de los datos de
		carácter personal proporcionados por nuestros usuarios y clientes.<br><br>

		VIRTUAL CATALOG SOLUTIONS, S.L. respetará en todo momento la
		confidencialidad de los datos de empresas anunciantes y usuarios, según
		conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre,
		de Protección de Datos de Carácter Personal.<br><br>

		VIRTUAL CATALOG SOLUTIONS, S.L. tiene implementadas todas las
		medidas de seguridad establecidas en el Real Decreto 1720/2007, de 21 de
		diciembre, por el que se aprueba el Reglamento de Desarrollo de la Ley
		Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
		Personal. <br><br>

		<b>ENVÍO Y REGISTRO DE DATOS DE CARÁCTER PERSONAL</b><br><br>
		El envío de datos de carácter personal es obligatorio para contactar y recibir
		información sobre los servicios prestados por VIRTUAL CATALOG
		SOLUTIONS, S.L.<br><br>

		Asimismo, el no facilitar los datos personales solicitados o el no aceptar la
		presente política de protección de datos por parte de las empresas anunciantes
		o de los usuarios supone la imposibilidad de suscribirse, registrarse o recibir
		información de dichos servicios.<br><br>

		<b>EXACTITUD Y VERACIDAD DE LOS DATOS FACILITADOS</b><br><br>

		Las empresas anunciantes y los usuarios que envían información a VIRTUAL
		CATALOG SOLUTIONS, S.L. son los únicos responsables de la veracidad y
		corrección de los datos incluidos, exonerándose VIRTUAL CATALOG
		SOLUTIONS, S.L. de cualquier responsabilidad al respecto.<br><br>

		Las empresas anunciantes y los usuarios garantizan y responden, en cualquier
		caso, de la exactitud, vigencia y autenticidad de los datos personales
		facilitados, y se comprometen a mantenerlos debidamente actualizados.<br><br>

		Las empresas anunciantes y los usuarios aceptan proporcionar información
		completa y correcta a través de los correspondientes formularios de registro.<br><br>

		VIRTUAL CATALOG SOLUTIONS, S.L. no responde de la veracidad de las
		informaciones que no sean de elaboración propia y de las que se indique otra
		fuente, por lo que tampoco asume responsabilidad alguna en cuanto a
		hipotéticos perjuicios que pudieran originarse por el uso de dicha información.<br><br>

		Se exonera a VIRTUAL CATALOG SOLUTIONS, S.L. de responsabilidad ante
		cualquier daño o perjuicio que pudiera sufrir las empresas anunciantes o los
		usuarios como consecuencia de errores, defectos u omisiones en la
		información facilitada siempre que proceda de fuentes ajenas a VIRTUAL
		CATALOG SOLUTIONS, S.L.<br><br>

		<b>CESIÓN DE DATOS A TERCEROS</b><br><br>

		VIRTUAL CATALOG SOLUTIONS, S.L. no cederá los datos personales a
		terceros. No obstante, en el caso de ser cedidos a algún tercero se produciría
		una información previa solicitando el consentimiento expreso del afectado en
		virtud del Art. 6 LOPD.<br><br>

		<b>EJERCICIO DE DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN</b><br><br>

		Las empresas anunciantes y los usuarios pueden dirigir sus comunicaciones y
		ejercitar los derechos de acceso, rectificación, cancelación y oposición que
		podrá ejercitar por escrito al domicilio social de VIRTUAL CATALOG
		SOLUTIONS, S.L. C/ Escola Pia, 100 - 08201 Sabadell (Barcelona) o a través
		del correo electrónico info@catalogindustry.com junto con prueba válida en
		derecho, como fotocopia del D.N.I.<br><br>

		<b>ACEPTACIÓN Y CONSENTIMIENTO</b><br><br>

		Las empresas anunciantes y los usuarios declaran haber sido informados de
		las condiciones sobre protección de datos de carácter personal, aceptando y
		consintiendo el tratamiento de los mismos por parte de VIRTUAL CATALOG
		SOLUTIONS, S.L., en la forma prevista para cada uno de ellos y para las
		finalidades indicadas en la presente Política de Protección de Datos
		Personales.<br><br>

		<b>Por parte de los usuarios</b><br><br>

		De acuerdo con lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre,
		de Protección de Datos de Carácter Personal, los usuarios del sitio web
		www.catalogindustry.com con el envío del formulario de registro dan su
		consentimiento expreso a VIRTUAL CATALOG SOLUTIONS, S.L., en
		cumplimiento de lo dispuesto en el artículo 6 de la Ley Orgánica 15/1999, de 13
		de diciembre, de Protección de Datos de Carácter Personal, para que los datos
		de carácter personal facilitados en el mismo sean incluidos en el fichero
		automatizado del que es titular VIRTUAL CATALOG SOLUTIONS, S.L.
		debidamente inscrito en la AEPD y consienten que sean cedidos, siempre
		protegiéndolos adecuadamente, a personas, empresas y organizaciones
		anunciantes de sus catálogos industriales registradas previamente en el sitio
		web www.catalogindustry.com tanto nacionales como internacionales
		directamente relacionadas con VIRTUAL CATALOG SOLUTIONS, S.L. con la
		finalidad de que las empresas anunciantes puedan ponerse directamente en
		contacto con ellos.<br><br>

		<b>Por parte de las empresas anunciantes</b><br><br>
		De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de
		diciembre, de Protección de Datos de Carácter Personal, VIRTUAL CATALOG
		SOLUTIONS, S.L. informa a las empresas anunciantes que los datos
		personales facilitados a través del formulario de registro del sitio web
		www.catalogindustry.com o mediante el envío de mensajes de correo
		electrónico, dan su consentimiento para que los datos personales facilitados
		sean incluidos en el correspondiente fichero automatizado del que es titular
		VIRTUAL CATALOG SOLUTIONS, S.L. debidamente inscrito en la AEPD y
		cuya finalidad es la gestión de las empresas anunciantes que anuncian sus
		catálogos de productos en el sitio web www.catalogindustry.com
		En ningún momento estos datos serán cedidos, vendidos o traspasados a
		terceras personas sin su consentimiento previo.<br><br>




		<b>CAMBIOS EN LA PRESENTE POLÍTICA DE PRIVACIDAD</b> <br><br>

		VIRTUAL CATALOG SOLUTIONS, S.L. se reserva el derecho a modificar la
		presente política para adaptarla a novedades legislativas o jurisprudenciales
		así como a prácticas de la industria.<br><br>
		En dichos supuestos, VIRTUAL CATALOG SOLUTIONS, S.L. anunciará en
		esta página los cambios introducidos con razonable antelación a su puesta en
		práctica.</br></b></p>

